<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/web3.min.js"></script>
    <!-- <script src="javascripts/web3.min.js"></script> -->
    <script src="/javascripts/blockchain.js"></script>
    <script src="/javascripts/jpeg_camera/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="/javascripts/jpeg_camera/jpeg_camera_no_flash.min.js" type="text/javascript"></script>

    <title>EVoting using blockchain </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="/">EVoting</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item" id="register">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item" id="vote">
                    <a class="nav-link" href="/vote">Vote</a>
                </li>
                <li class="nav-item" id="results">
                    <a class="nav-link" href="/results">Results</a>
                </li>
                <li class="nav-item" id="admin">
                    <a class="nav-link" href="/admin">Admin Panel</a>
                </li>

            </ul>
        </div>
    </nav>