<% include header.ejs %>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4 text-center">
                            Welcome to The VoteChain
                            <hr>
                        <img style="margin: 0 auto; display:block; width: 100%;" src="/images/home.png">                            
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <body>
        <div class="header" data-ix="show-nav">
            <div class="w-container contents">
                <div class="main-heading-wrapper">
                    <h1 data-ix="fade-in-heading">Vote&nbsp;</h1>
                    <h1 data-ix="fade-in-heading-2">To Make Change.</h1>
                    <h1 class="without-code" data-ix="fade-in-heading-3">Vote</h1>
                    <h1 class="without-code" data-ix="fade-in-heading-4">For Yourself.</h1>
                </div>
            </div>
        </div>
        <div class="all-the-icons">
            <div class="clip-path-container">
             <div class="icon1 v" ></div>
            </div>
          
            <div class="clip-path-container">
              <div class="icon1 o"></div>
            </div>
            
            <div class="clip-path-container">
             <div class="icon1 t"></div>
            </div>
            
            <div class="clip-path-container">
             <div class="icon1 e"></div>
            </div>
            
            <div class="clip-path-container">
              <div class="icon1 for"></div>
            </div>
            
            <div class="clip-path-container">
            <div class="icon1 u"></div>
            </div>
        </div>
    
        <section id="service">
            <div class="container">
             <div class="row">
              <div class="col-md-12">
               <div class="section_title text-center">
                 <h1>Our Services</h1>
                
               </div>
              </div>
            </div>
           <div class="row">
            <!--START SINGLE SERVICE AREA-->
             <div class="col-md-6 col-lg-4 col-sm-12">
              <div class="single_service hvr-curl-top-right">
               <div class="single_service-left">
                <div class="icon">
                  <i class="fa fa-laptop"></i>
                </div>
               </div>
               <div class="single_service-body">
                <h4 class="single_service-heading">Online Elections</h4>
                <p>Send your voters an email with secure, single-use voting links that ensure only authorized voters can vote, once.</p>
               </div>
              </div>
             </div><!--/END SINGLE SERVICE AREA-->
    
             <!--START SINGLE SERVICE AREA-->
             <div class="col-md-6 col-lg-4 col-sm-12">
              <div class="single_service hvr-curl-top-right">
               <div class="single_service-left">
                <div class="icon">
                  <i class="fas fa-quidditch"></i>
                </div>
               </div>
               <div class="single_service-body">
                 <h4 class="single_service-heading">Online Polls</h4>
                 <p>Create a personalized poll that anyone can vote on, and publicize it using your website, email, or social media.</p>
              </div>
             </div>
            </div><!--/END SINGLE SERVICE AREA-->
    
            <!--START SINGLE SERVICE AREA-->
            <div class="col-md-6 col-lg-4 col-sm-12">
             <div class="single_service hvr-curl-top-right">
              <div class="single_service-left">
               <div class="icon">
                 <i class="fas fa-newspaper"></i>
               </div>
              </div>
              <div class="single_service-body">
                <h4 class="single_service-heading">Automated Ballot Counts</h4>
                <p>Count ranked ballots that you've already collected (using e.g., paper ballots or your own vote collection software).</p>
              </div>
             </div>
            </div><!--/END SINGLE SERVICE AREA-->
        </div>
          </div>
         </section><!--/END SERVICE AREA-->
         
         <footer class="site-footer">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h6 id="footerindex">Made By Zensarians❤</h6>
                </div>
        </footer> 

    </body>

    </html>