<% include header.ejs %>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="width: 40%;">
                        <h1 class="display-4 text-center">Admin </h1>
                        <p class="lead">
                            <form method="post" action="/admin/login">
                                <div class="form-group">
                                    <label for="login_id">Login ID</label>
                                    <input type="text" class="form-control" id="login_id" name="login_id">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="submit" id="login_btn" class="btn btn-success btn-lg btn-block">Login</button>
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form method="post" action="/admin/login" class="box">
                        <h1 id="fullheader">Admin Login</h1>
                        <p class="text-muted"> Please enter your login and password!</p>
                         <input type="text" class="form-control" id="login_id" name="login_id" placeholder="login id"> 
                         <input type="password" class="form-control" id="password" name="password" placeholder="Password"> 
                         <a class="forgot text-muted" href="#">Forgot password?</a>
                        <input type="submit" id="login_btn" value="Login" >
                        <!-- <button type="submit" id="login_btn" class="btn btn-block">Login</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>