<% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4 text-center">Welcome to the Voting Phase</h1>
                        <p class="lead text-center">

                            <small id="txtmsg">Please upload your QR Code below</small>
                            <hr>
                            <div class="lds-css ng-scope">
                                <div class="lds-spinner" style="width: 100%;height:100%; margin: 0 auto">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="text-center" style="margin: 0 auto;">
                                    <img src="" id="qr_img" style="margin: 0 auto; display:block;">
                                    <video autoplay id="camera" class="text-center" style="margin: 0 auto; display:none;"></video>
                                    <canvas class="text-center" style="margin: 0 auto;" id='snapshots'></canvas>
                                    <br>
                                </div>
                            </div>
                            <div type="button" class="file btn btn-success btn-lg btn-block" id="upload_qr" style="position: relative;
                            overflow: hidden;">
                                <input type="file" name="file" id="qr_file" style="position: absolute;
                                font-size: 50px;
                                opacity: 0;
                                right: 0;
                                top: 0;" onchange="javascript:upload_qr(event);" accept="image/*" />Upload My QR Code</div>

                            <form method="post" action="/verifyvoter" enctype="multipart/form-data">
                                <div style="display:none;">
                                    <input type="hidden" class="form-control" id="qrdata" name="qrdata" filename="name1">
                                    <input type="hidden" class="form-control" id="avatar" name="avatar" filename="name">
                                </div>

                                <div type="button" class="btn btn-primary btn-lg btn-block" id="submit_qr" onclick="javascript:submit_qr_func(event);" style="position: relative;
                            overflow: hidden; display:none;">
                                    Submit My QR Code</div>

                                <div type="button" class="btn btn-danger btn-lg btn-block" id="capture_img" onclick="javascript:capture_img_func(event);"
                                    style="position: relative;
                            overflow: hidden; display:none;">
                                    Capture</div>

                                <div type="button" class="btn btn-success btn-lg btn-block" id="verify_btn" onclick="javascript:document.forms[0].submit();"
                                    style="position: relative;
                            overflow: hidden; display:none;">
                                    Submit</div>
                            </form>

                     
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="ruaad">
        <div class="container ">
            <div class="row">
                <div class="col-md-5" >
                    <div class="jumbotron jumbotron-fluid" style = "background-color: #fcfcfc;
                    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">>
                        <div class="container">
                            <h1 class="display-10 text-center" id="fullheader" style="color: brown;">Welcome to the Voting Phase</h1>
                            <p class="lead text-center">
    
                                <small id="txtmsg" style="font-family: Arial, Helvetica, sans-serif;color: brown">Please upload your QR Code below</small>
                                <hr>
                                <div class="lds-css ng-scope">
                                    <div class="lds-spinner" style="width: 100%;height:100%; margin: 0 auto">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="text-center" style="margin: 0 auto;">
                                        <img src="" id="qr_img" style="margin: 0 auto; display:block;">
                                        <video autoplay id="camera" class="text-center" style="margin: 0 auto; display:none;"></video>
                                        <canvas class="text-center" style="margin: 0 auto;" id='snapshots'></canvas>
                                        <br>
                                    </div>
                                </div>
                                <div type="button" class="file btn btn-success btn-lg btn-block Azahar" id="upload_qr" style="position: relative;
                                overflow: hidden;">
                                    <input type="file" name="file" id="qr_file" style="position: absolute;
                                    font-size: 50px;
                                    opacity: 0;
                                    right: 20;
                                    top: 0;" onchange="javascript:upload_qr(event);" accept="image/*" />Upload My QR Code</div>
    
                                <form method="post" action="/verifyvoter" enctype="multipart/form-data">
                                    <div style="display:none;">
                                        <input type="hidden" class="form-control" id="qrdata" name="qrdata" filename="name1">
                                        <input type="hidden" class="form-control" id="avatar" name="avatar" filename="name">
                                    </div>
    
                                    <div type="button" class="btn btn-primary btn-lg btn-block" id="submit_qr" onclick="javascript:submit_qr_func(event);" style="position: relative;
                                overflow: hidden; display:none;">
                                        Submit My QR Code</div>
    
                                    <div type="button" class="btn btn-danger btn-lg btn-block" id="capture_img" onclick="javascript:capture_img_func(event);"
                                        style="position: relative;
                                overflow: hidden; display:none;">
                                        Capture</div>
    
                                    <div type="button" class="btn btn-success btn-lg btn-block" id="verify_btn" onclick="javascript:document.forms[0].submit();"
                                        style="position: relative;
                                overflow: hidden; display:none;">
                                        Submit</div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
     -->

    </body>

    </html>